body {
    background-color:hsl(55, 100%, 80%);
    size:14;
    padding:25px;
    font-family:'Courier New', Courier, monospace;
    transition: background-color .5s;
}

div {
    display: initial;
}

h3 {
    margin-top:-17px;
}

.span {
    color:hsl(0, 76%, 47%);
    transition: color .5s;
}

ul {
    margin-top:-10px;
    ul {
        margin-top: initial;
    }
}

.hr {
    border:none;
    height:7px;
    background-color:hsl(0, 76%, 47%);
    transition: background-color .5s;
}

#divButton {
    float: left;
    display:flex;
    justify-content:center;
    width: 17%;
    margin-top:1%;
    margin-right:1.25%;

    h1 {
        margin: 5px;
        font-family: 'Courier New', Courier, monospace;
    }

    #button {
        border: 0;
        border-radius: 10px;
        background: hsl(0, 76%, 47%);
        color: hsl(55, 100%, 80%);
        transition: background .5s, color .5s, box-shadow .5s;
    }
    #button:hover {
        box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    }
}

#resume {
    float:left;
    width:65%;
    margin-left: 1.25%;
    padding: .5em !important;
    border: .25em solid #d41d1d;
    border-radius: 5px;
    div {
        div {
            img {
                float:right;
                padding-left:20px;
            }
        }
    }
}

#bullet {display: flex;}

@media only screen and (min-width: 1008px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media screen and (max-width:1008px) {
    #divButton {
        width: 100%;
        margin-right: 0;
    }
    #resume {
        width: 100%;
        margin-left: 0;
        div {
            div{
                img {
                    float: none;
                    display: block;
                    margin: 0 auto;
                    width: 50%;
                    padding-left: 0;
                }
            }
        }
    }
    #bullet {
        display: initial;
        [class*="col-"] {
            width: 100%;
        }
    }

    [class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    body {font-size: .9em;}
}
